$black: #1f2324;
$blue: #035A88;
$white: #ccd8db;
$gold: #a89b7b;

.menu {
  margin-bottom: 2px;
  background-color: $black;

  &:before {
    content: "王毅翔 | WangYiXiang";
    font-size: 24px;
    font-weight: 700;
    color: lighten(blue, 35%)
  }
  .navbar-header {
    a {
      font-size: 20px;
    }
  }

  .navbar-nav li {
    a {
      font-size: 18px;;
    }
  }
}

#thumbnails {
  $background-color: lighten($black, 10%);
  .mythumbnail {
    background-color: $background-color;
    margin-bottom: 0px;
    border-color: $gold;
  }

}

footer {
  background-color: lighten($black, 20%);

  .nonelist {
    list-style: none;
    padding-left: 2px;
    li {
      margin-left: -5px;
    }
  }

}
