<div class="container-fluid" id="thumbnails">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail mythumbnail"
         data-ng-repeat="thumbnailUrl in thumbnailUrls">
      <img src="{{thumbnailUrl}}" style="height: 240px; width: auto; overflow: hidden;">
    </div>
  </div>
</div>
